*,
*::after,
*::before {
   box-sizing: border-box;
}

:root {
   --cell-size: 100px;
   --mark-size: calc(var(--cell-size) * .5);
}

body {
   margin: 0;
   background-color: rgb(97, 157, 160);
}

.title {
   text-transform: uppercase;
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 50px;
   font-weight: 100;
   justify-content: center;
   text-align: center;
}

hr {
   border: none;
   border-top: 3px dotted rgb(221, 184, 138);
   width: 35%;
}

.board {
   width: 100vw;
   height: 100vh;
   display: grid;
   justify-content: center;
   align-content: center;
   justify-content: center;
   align-items: center;
   grid-template-columns: repeat(3, auto);
}

.cell {
   position: relative;
   width: var(--cell-size);
   height: var(--cell-size);
   background-color: rgb(97, 157, 160);
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell.cell:nth-child(3) {
   border-top: none;
}

.cell:nth-child(3n + 1) {
   border-left: none;
}

.cell:nth-child(3n + 3) {
   border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
   border-bottom: none;
}

.cell.x,
.cell.circle {
   cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
   background-color: white;
}

.cell.circle::before {
   background-color: rgb(13, 97, 100);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
   background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
   content: '';
   position: absolute;
   width: calc(var(--mark-size) * .15);
   height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
   transform: rotate(45deg);

}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
   transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
   content: '';
   position: absolute;
   border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
   width: var(--mark-size);
   height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
   content: '';
   position: absolute;
   width: calc(var(--mark-size) * .7);
   height: calc(var(--mark-size) * .7);
   background-color: rgb(97, 157, 160);
}

.winning-message {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, .8);
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 50px;
}

.winning-message button {}